@media screen and (min-width: 430px){
  .img-basica{
 
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      height: 80vh;
      position: relative;
    
    }
}

@media screen and (min-width: 1024px){
  .img-basica{
 
      margin-left: auto;
      margin-right: auto;
      width: 550px;
      height: 90vh;
      position: relative;
    
    }
  

  
}